<div class="main">

  <div class="search">
    <p class="control">
      <input #filterInput type="text" class="input" (keyup)="filter($event)" placeholder="Search" />
      <span class="icon">
        <i class="fas fa-search"></i>
      </span>
    </p>
    <div class="button">
      <button class="button floating-add-button" routerLink="new">+</button>
    </div>
  </div>

  <div class="notes-list">
    <app-note-card 
      *ngFor="let note of filteredNotes;"
      [link]="generateNoteURL(note)"
      (del)="delNote(note)"
      [title]="note.title"
      [body]="note.body"

      [@itemAnim]

    >
    </app-note-card>
  </div>


  
</div>
